{% extends 'temp.html' %}
{% block name %}Добавление компании{% endblock %}
{% block body %}
    <center>
        <body style="background-image: url('https://i.pinimg.com/originals/32/fd/6e/32fd6e742019beccda4acfc556820450.jpg')">
        <div class="container-fluid">
            <div class="row" style="height: 400px">
                <div class="col-3"></div>
                <div class="col-6">
                    <form class="rounded" method="POST"
                          style="background: rgba(0,0,0,.5)">
                        <input type="hidden" name="csrfmiddlewaretoken"
                               value="us4oMnVKe9OmbyklQ0wZUNOxEyid4UuddkhQ4ocRN0Ur6ktRxLOULNT0sNfUP04f">

                        <p><label class="inline_label"></label> <input type="text" name="first_name"
                                                                       class="form-control mr-sm-2"
                                                                       placeholder="Имя работника" maxlength="100"
                                                                       required id="id_first_name"></p>
                        <div class="row-form-errors"></div>

                        <p><label class="inline_label"></label> <input type="text" name="second_name"
                                                                       class="form-input form-control mr-sm-2"
                                                                       placeholder="Фамилия работника" maxlength="100"
                                                                       required id="id_second_name"></p>
                        <div class="row-form-errors"></div>

                        <p><label class="inline_label"></label> <input type="text" name="slug"
                                                                       class="form-control mr-sm-2" placeholder="URL"
                                                                       maxlength="100" required id="id_slug"></p>
                        <div class="row-form-errors"></div>

                        <p><label class="inline_label"></label> <select name="company" required id="id_company">
                            <option value="" selected>---------</option>
                            {% for i in data %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endfor %}
                        </select></p>
                        <div class="row-form-errors"></div>

                        <button type="submit" class="btn btn-outline-light mr-sm-2">Сохранить</button>
                        <br>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </center>
    </body>
{% endblock %}
