{% extends 'temp.html' %}
{% block name %}Главная страница{% endblock %}
{% block body %}
    <body style="background-image: url('https://i.pinimg.com/originals/32/fd/6e/32fd6e742019beccda4acfc556820450.jpg')">
    <center>
        <div class="container-fluid">
            <div class="row" style="height: 400px">
                <div class="col-3"></div>
                <div class="col-6">
                    <form class="rounded" method="post"
                          style="background: rgba(0,0,0,.5)">
                        <div class="form-group">
                            <br>
                            <label for="exampleInputEmail1"><h3 style="color: lavender">Выберите действие</h3></label>
                            <br>
                            <a href="{% url 'companes' %}" class="btn btn-outline-light my-2" style="width: 300px">
                                Информация о компаниях
                            </a>
                            <br>
                            <a href="{% url 'workers' %}" class="btn btn-outline-light my-2" style="width: 300px">
                                Информация о работниках
                            </a>
                            <br>
                            <a href="{% url 'editions' %}" class="btn btn-outline-light my-2" style="width: 300px">
                                Информация о изданиях
                            </a>
                            <br>
                            <a href="{% url 'types' %}" class="btn btn-outline-light my-2" style="width: 300px">
                                Типы изданий
                            </a>
                            <br>

                        </div>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </center>
    </body>
{% endblock %}