{% extends 'temp.html' %}
{% block name %}Работники{% endblock %}
{% block body %}
    <body style="background-image: url('https://i.pinimg.com/originals/32/fd/6e/32fd6e742019beccda4acfc556820450.jpg')">
    <center>
        <a href="{% url 'add_worker' %}">Добавить работника</a>
        <table>
            <tr>
                <th>Имя работника</th>
                <th>Фамилия работника</th>
                <th>URl</th>
                <th>Компания</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            {% for worker in workers %}
                <tr>
                    <td>{{ worker.first_name }}</td>
                    <td>{{ worker.second_name }}</td>
                    <td>{{ worker.slug }}</td>
                    <td>{{ worker.company }}</td>
                    <td><a href="{% url 'edit_worker' worker.slug %}">Изменить</a></td>
                    <td><a href="{% url 'delete_worker' worker.slug %}">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
    </center>
    </body>
{% endblock %}