{% extends 'temp.html' %}
{% block name %}Издания{% endblock %}
{% block body %}
    <body style="background-image: url('https://i.pinimg.com/originals/32/fd/6e/32fd6e742019beccda4acfc556820450.jpg')">
    <center>
        <a href="{% url 'add_editions' %}">Добавить издание</a>
        <table>
            <tr>
                <th>Название издания</th>
                <th>Дата начала подписки</th>
                <th>Дата окончания подписки</th>
                <th>URl</th>
                <th>Тип</th>
                <th>Работники</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            {% for edition in editions %}
                <tr>
                    <td>{{ edition.name_of_the_edition }}</td>
                    <td>{{ edition.start_data }}</td>
                    <td>{{ edition.end_data }}</td>
                    <td>{{ edition.slug }}</td>
                    <td>{{ edition.type }}</td>
                    <td>
                    <select>
                        {% for i in edition.worker.all %}
                            <option>{{ i }}</option>
                        {% endfor %}
                            </select>
                        </td>
                    <td><a href="{% url 'edit_editions' edition.slug %}">Изменить</a></td>
                    <td><a href="{% url 'delete_editions' edition.slug %}">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
    </center>
    </body>
{% endblock %}